<mat-card class="settings-card">
  <mat-card-content>
    <h2>WiFi Settings</h2>
    <form (ngSubmit)="onClick(ssid, password)" #wifiForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>SSID</mat-label>
        <input matInput type="text" [(ngModel)]="ssid" name="ssid" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!wifiForm.valid">Connect</button>
    </form>
  </mat-card-content>
  <mat-card-content>
      <button mat-raised-button color="warn" (click)="onShellClick('poweroff')">Reboot</button>
  </mat-card-content>
</mat-card>
